In [1]:
from PIL import Image
import numpy
import os

In [2]:
#function to convert all images in the folder to arrays
def convert_to_array(img_dir):
    img_ar = []
    for filename in os.listdir(img_dir):
        img = Image.open(img_dir + filename)
        img = img.convert('L')
        img = img.resize((100, 100))
        img = numpy.array(img)
        img = img.flatten()
        img_ar.append(img)
    img_ar = numpy.array(img_ar)
    return img_ar

In [3]:
img_dir = "./data/free/"
free = convert_to_array(img_dir)

In [4]:
free.shape

(1067, 10000)

In [8]:
img_dir = "./data/full/"
full = convert_to_array(img_dir)

In [9]:
full.shape

(2195, 10000)

In [10]:
import pandas as pd

In [ ]:
df_free = pd.DataFrame(data = free[0:, 0:],
                        index = [i for i in range(free.shape[0])],
                        columns=['f'+str(i) for i in range(free.shape[1])])
df_free.head()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f9990,f9991,f9992,f9993,f9994,f9995,f9996,f9997,f9998,f9999
0,61,71,76,74,73,71,78,73,77,72,...,69,92,83,78,82,97,120,148,174,111
1,58,68,72,70,69,66,74,68,72,67,...,69,94,84,80,84,100,125,154,180,111
2,67,75,79,78,76,74,81,76,80,76,...,78,104,95,90,93,111,135,161,186,123
3,68,76,80,79,78,75,83,77,81,77,...,78,105,95,90,94,112,138,165,190,124
4,65,73,77,75,74,71,79,73,77,74,...,77,102,94,90,94,112,139,165,189,124

In [13]:
df_full = pd.DataFrame(data = full[0:, 0:],
                        index = [i for i in range(full.shape[0])],
                        columns=['f'+str(i) for i in range(full.shape[1])])
df_full.head()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f9990,f9991,f9992,f9993,f9994,f9995,f9996,f9997,f9998,f9999
0,80,156,127,85,83,81,86,83,85,84,...,65,75,72,66,67,76,90,103,116,88
1,43,46,47,45,45,42,47,39,41,37,...,43,69,60,49,50,58,91,115,107,115
2,49,55,56,52,51,49,56,46,46,43,...,39,57,52,47,49,53,83,109,105,121
3,43,44,44,45,42,41,44,37,37,35,...,38,61,51,43,44,47,72,95,94,110
4,48,51,50,50,48,44,49,42,42,39,...,30,37,32,40,43,46,73,99,95,118

In [14]:
df_free['y'] = 1
df_full['y'] = 0

NameError: name 'df_free' is not defined

In [ ]:
dataset = pd.concat([df_full, df_free])

In [ ]:
#shuffle the data set
dataset = dataset.sample(frac = 1)

In [ ]:
import sklearn
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
model = LogisticRegression()

In [ ]:
X = dataset.loc[:,:'f9999']
Y = dataset.loc[:, 'y':'y']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=1)

In [ ]:
model.fit(x_train,y_train)

c:\Users\Vikas Poddar\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\Vikas Poddar\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [ ]:
x_train_pred = model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_pred, y_train)
print(training_data_accuracy)

1.0

In [ ]:
y_pred = model.predict(x_test)
test_data_accuracy = accuracy_score(y_pred, y_test)
print(test_data_accuracy)

0.9663093415007658

In [6]:
name = input('Enter the file name: ')
img = Image.open(name+'.jpg')
img = img.convert('L')
img = img.resize((100, 100))
img = numpy.array(img)
img = img.flatten()

img = img.reshape(1,-1)

prediction = model.predict(img)
if(prediction[0] == 1):
    print('parking spot is free')
else:
    print('parking spot is not free')

NameError: name 'model' is not defined